/* Anuncios */
.news-hero {
  background-size: cover;
  background-position: center;
  margin: 20px 10px;
  text-align: center;
}

.news-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.news-subtittle p {
  font-size: 1.2rem;
}

.news-next-preview {
  padding: 5px 15px;
  font-size: 1rem;
  display: inline-block;
  margin-top: 15px;
}

/* Partidos */
.games-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.game {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.game-instance {
  font-size: 1.5rem;
  font-weight: bold;
}

.game-teams p {
  text-align: center;
  font-size: 1rem;
}

.game-teams span {
  font-size: 1.2rem;
  font-weight: bold;
}

.game-teams p + p {
  margin-top: 10px;
}

/* Momentos destacados */
.highlight-moments-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.highlight-photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.highlight-photos div {
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.highlight-photos img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.highlight-photos p {
  font-size: 1rem;
  padding: 10px 15px;
}

.highlights a {
  text-decoration: none;
}